/* add css module styles here (optional) */
.copy_container {
  margin: 2em;
  padding: 0.5em;
  border: 1px #cccccc solid;
  font-size: 2em;
  text-align: center;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.copy_container:hover {
  background-color: #d0ffc4;
}

.copy_icon {
  display: none;
}

div.copy_container:hover > .copy_icon {
  display: inline;
  margin-left: 15px;
}
