/* add css module styles here (optional) */
.test {
  margin: 2em;
  padding: 0.5em;
  border: 1px #cccccc solid;
  font-size: 2em;
  text-align: center;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

div.test:hover {
  background-color: #d0ffc4;
}

.copy_icon {
  display: none;
}

div.test:hover > .copy_icon {
  display: inline;
  margin-left: 5px;
}
